<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hj.mapper.user.FeedbackMapper">

    <resultMap id="BaseResultMap" type="com.hj.entity.user.Feedback">
        <id property="feedbackId" column="feedback_id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="images" column="images" jdbcType="VARCHAR"/>
        <result property="realname" column="realname" jdbcType="VARCHAR"/>
        <result property="contact" column="contact" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="reply" column="reply" jdbcType="VARCHAR"/>
        <result property="remake" column="remake" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del" jdbcType="TINYINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        feedback_id
        ,uid,type,
        content,images,realname,
        contact,create_time,status,
        reply,remake,is_del,
        update_time
    </sql>
</mapper>
